<div class="page-header">
  <div class="container">
    <h1>Routing Basics</h1>
    <div class="ui pointing menu">
      <a class="active item" [routerLink]="['/home']">Home</a>
      <a class="item" [routerLink]="['/about']">About</a>
      <a class="item" [routerLink]="['/contact']">Contact Us</a>
      <a class="item" [routerLink]="['/products']">Products</a>
      <a class="item" [routerLink]="['/login']">Login</a>
      <a class="item" [routerLink]="['/protected']">Protected</a>
    </div>
  </div>
</div>

<div class="ui segment">
  <router-outlet></router-outlet>
</div>
